@keyframes appear
{
    0%
    {
        transform: scale(0, 1);
    }
    100%
    {
        transform: scale(1, 1);
    }
}

.dx-react-gauge .valueIndicator
{
    animation: appear 1s ease;
    transition: width 1s;
}
