@keyframes appear
{
    from
    {
        transform: scale(0, 1);
    }
    to
    {
        transform: scale(1, 1);
    }
}

.dx-react-gauge .valueIndicator
{
    animation: appear 1s ease;
    transition: width 1s;
}

@keyframes moveSubvalue
{
    from {
        transform: translateX(0);
    }
}

.dx-react-gauge .subValueIndicatorGroup
{
    animation: moveSubvalue 1s ease;
    transition: all 1s ease;
}
.dx-react-gauge .subValueIndicator{
    transition: all 1s ease;
}